<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /projetofiscal/dist/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /projetofiscal/dist/index.html [L]
</IfModule>
